<ng-container>
  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign In</h3>
        <form class="needs-validation" novalidate #formUp>
          <div class="formGroup">
            <input type="email" class="formControl   form-control  is-valid" placeholder="Email" #userEmail required />
          </div>

          <div class="formGroup">
            <input type="password" class="formControl   form-control  is-valid" placeholder="Password" #userPassword
              required />
          </div>

          <!-- Calling SignIn Api from AuthService -->
          <div class="formGroup">
            <input type="button" class="btn btnPrimary" value="Log in"
              (click)="authService.SignIn(userEmail.value, userPassword.value)" />
          </div>
        </form>
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div>
      </div>

      <div class="redirectToLogin">
        <span>Don't have an account?<span class="redirect" routerLink="/register-user">
            Sign Up</span></span>
      </div>
    </div>
  </div>
</ng-container>
